.header {
  padding-top: 20px;
  padding-bottom: 20px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 4px 32px 0px rgba(0, 16, 61, 0.16);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1011;
}
.header .header-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 1050px) {
  .header .header-wrapper {
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
  }
}
.header .header-wrapper .navbar {
  display: flex;
  align-items: center;
}
.header .header-wrapper .navbar ul {
  margin-left: 63px;
  margin-right: 70px;
  display: flex;
  align-items: center;
}
@media (max-width: 1240px) {
  .header .header-wrapper .navbar ul {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 1050px) {
  .header .header-wrapper .navbar ul {
    display: none !important;
    position: fixed;
    background-color: #EF7C00;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 100px;
    left: 0;
    right: 0;
    top: 100px;
    width: 250px;
    height: 100vh;
    z-index: 10001;
    right: 0;
    margin-left: 0;
  }
  .header .header-wrapper .navbar ul li {
    border: none !important;
    margin-bottom: 30px;
  }
  .header .header-wrapper .navbar ul li:hover .navbar-link-dropwdown {
    display: none !important;
  }
  .header .header-wrapper .navbar ul li a {
    color: #fff !important;
    font-size: 25px !important;
  }
  .header .header-wrapper .navbar ul li a:hover .navbar-link-dropwdown {
    display: none !important;
  }
}
.header .header-wrapper .navbar ul li {
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  position: relative;
}
.header .header-wrapper .navbar ul li:hover .navbar-link-dropwdown {
  display: flex;
}
.header .header-wrapper .navbar ul li:hover .navbar-link {
  color: #EF7C00;
}
.header .header-wrapper .navbar ul li:not(:last-child) {
  border-right: 2px solid rgba(0, 16, 61, 0.12);
}
.header .header-wrapper .navbar ul li:not(:last-child):hover {
  border-right: 2px solid #EF7C00;
}
.header .header-wrapper .navbar ul li:not(:last-child):hover .navbar-link {
  color: #EF7C00;
}
.header .header-wrapper .navbar ul .navbar-link {
  color: #2C2D2E;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.3s;
}
@media (max-width: 1170px) {
  .header .header-wrapper .navbar ul .navbar-link {
    font-size: 12px;
  }
}
.header .header-wrapper .navbar .navbar-dark-light {
  display: flex;
  align-items: center;
}
.header .header-wrapper .navbar .navbar-dark-light .btn-dark {
  border-right: 2px solid rgba(0, 16, 61, 0.12);
  padding-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .header-wrapper .navbar .navbar-dark-light .btn-light {
  padding-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dark-light-change {
  color: #EF7C00 !important;
  font-weight: 500;
}

.navbar-link-dropwdown {
  width: 264px;
  display: none;
  position: absolute;
  top: 70px;
  padding: 8px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid rgba(0, 16, 61, 0.12);
  background-color: #fff;
  border: none !important;
  box-shadow: -3px -1px 46px -6px #EF7C00;
}
.navbar-link-dropwdown ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.navbar-link-dropwdown ul p {
  text-align: center;
  font-size: 11px;
  color: #2C2D2E;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.navbar-show-btn {
  position: absolute;
  left: 150px;
  top: -28px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 150px;
  cursor: pointer;
  border: none;
  background-color: #EF7C00;
  font-family: "Montserrat";
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.3s;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
}
.navbar-show-btn:hover .navbar-list {
  display: flex;
}
@media (max-width: 1050px) {
  .navbar-show-btn {
    margin-right: 30px;
    display: flex;
  }
}

.navbar-toogle-effect {
  display: none !important;
}

.hero-section {
  margin-top: 100px;
  padding-bottom: 154px;
  background-image: url(../assets/images/herobc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrapper {
  display: flex !important;
  justify-content: space-between !important;
}
.hero-wrapper .hero-main {
  display: flex;
  flex-direction: column;
}
.hero-wrapper .hero-main .hero-subtext {
  margin-top: 162px;
  margin-bottom: 16px;
  color: #2C2D2E;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
}
.hero-wrapper .hero-main .hero-title {
  margin-bottom: 16px;
  color: #2C2D2E;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.hero-wrapper .hero-main .hero-text {
  margin-bottom: 16px;
  width: 582px;
  color: #2C2D2E;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.hero-wrapper .hero-main .hero-btn {
  width: 102px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #EF7C00;
  color: #FFF;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer !important;
}
.hero-wrapper .hero-main .hero-btn:hover {
  color: #EF7C00;
  background-color: #fff;
}
.hero-wrapper .hero-socialapps {
  margin-top: 207px;
}

.about-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-section .about-wrapper {
  display: flex;
  flex-direction: column;
}
.about-section .about-wrapper .about-title {
  text-align: center;
}
.about-section .about-wrapper .about-title span {
  color: #EF7C00;
}
.about-section .about-wrapper .about-main {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 840px) {
  .about-section .about-wrapper .about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about-section .about-wrapper .about-main .about-image-div {
  width: 552px !important;
  height: 300px;
  border-radius: 4px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/about-main.png);
  background-size: cover;
}
@media (max-width: 840px) {
  .about-section .about-wrapper .about-main .about-image-div {
    width: 100% !important;
  }
}
.about-section .about-wrapper .about-main .about-image-div img {
  cursor: pointer;
}
.about-section .about-wrapper .about-main .about-text {
  width: 552px;
  color: #2C2D2E;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 560px) {
  .about-section .about-wrapper .about-main .about-text {
    width: 100% !important;
  }
}

.information-section {
  margin-top: 80px;
}
.information-section .information-wrapper {
  padding-left: 20px;
  height: 376px;
  background-image: url(../assets/images/infobackground.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 32px 0px rgba(0, 16, 61, 0.16);
}
@media (max-width: 1170px) {
  .information-section .information-wrapper {
    background-position: center;
  }
}
@media (max-width: 590px) {
  .information-section .information-wrapper {
    align-items: center;
    text-align: center;
  }
}
.information-section .information-wrapper .info-heading {
  margin-top: 24px;
  margin-bottom: 16px;
  color: #2C2D2E;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.information-section .information-wrapper .info-heading span {
  color: #EF7C00;
}
.information-section .information-wrapper .info-text {
  width: 400px;
  color: #2C2D2E;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 590px) {
  .information-section .information-wrapper .info-text {
    width: 100%;
  }
}
.information-section .information-wrapper form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}
.information-section .information-wrapper form .form-wrapper {
  display: flex;
  gap: 12px;
}
@media (max-width: 590px) {
  .information-section .information-wrapper form .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.information-section .information-wrapper form .form-wrapper .first-div-form {
  position: relative;
}
@media (max-width: 590px) {
  .information-section .information-wrapper form .form-wrapper .first-div-form img {
    display: none;
  }
}
.information-section .information-wrapper form .form-wrapper .first-div-form input {
  margin-left: 40px;
  display: flex;
  width: 178px;
  height: 40px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid var(--borders-color-border, rgba(0, 16, 61, 0.12));
  background: var(--main-color-bg, #FFF);
  color: var(--text-color-text-secondary, #919399);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 590px) {
  .information-section .information-wrapper form .form-wrapper .first-div-form input {
    margin-left: 0;
  }
}
.information-section .information-wrapper form .form-wrapper .first-div-form img {
  position: absolute;
  top: 0;
}
.information-section .information-wrapper form .form-wrapper .second-div-form {
  position: relative;
}
@media (max-width: 590px) {
  .information-section .information-wrapper form .form-wrapper .second-div-form img {
    display: none;
  }
}
.information-section .information-wrapper form .form-wrapper .second-div-form input {
  margin-left: 40px;
  display: flex;
  width: 178px;
  height: 40px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid var(--borders-color-border, rgba(0, 16, 61, 0.12));
  background: var(--main-color-bg, #FFF);
  color: var(--text-color-text-secondary, #919399);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 590px) {
  .information-section .information-wrapper form .form-wrapper .second-div-form input {
    margin-left: 0;
  }
}
.information-section .information-wrapper form .form-wrapper .second-div-form img {
  position: absolute;
  top: 0;
}
.information-section .information-wrapper form .third-div-form {
  margin-top: 12px;
  position: relative;
}
@media (max-width: 590px) {
  .information-section .information-wrapper form .third-div-form {
    display: flex;
    justify-content: center;
  }
}
.information-section .information-wrapper form .third-div-form input {
  padding-left: 12px;
  padding-top: 10px;
  width: 446px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--borders-color-border, rgba(0, 16, 61, 0.12));
  background: var(--main-color-bg, #FFF);
  color: var(--text-color-text-secondary, #919399);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 133.333% */
}
@media (max-width: 590px) {
  .information-section .information-wrapper form .third-div-form input {
    width: 198px;
  }
}
.information-section .information-wrapper .information-btn {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 4px;
  background: #EF7C00;
  color: var(--text-color-text-contrast, #FFF);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.Teamsection {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1000px) {
  .Teamsection {
    margin-top: 120px;
  }
}
@media (max-width: 450px) {
  .Teamsection {
    margin-top: 180px;
  }
}
.Teamsection .team-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Teamsection .team-main-wrapper .team-section-title {
  margin-bottom: 32px;
  color: #2C2D2E;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.Teamsection .team-main-wrapper .team-section-title span {
  color: #EF7C00;
}
.Teamsection .team-main-wrapper .team-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.Teamsection .team-main-wrapper .team-wrapper .team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.Teamsection .team-main-wrapper .team-wrapper .team-card .team-card-image {
  border-radius: 50%;
  overflow: hidden;
}
.Teamsection .team-main-wrapper .team-wrapper .team-card .team-card-image img {
  border-radius: 50%;
}
.Teamsection .team-main-wrapper .team-wrapper .team-card .team-card-image img:hover {
  transform: scale(1.2);
}
.Teamsection .team-main-wrapper .team-wrapper .team-card .team-names {
  margin-top: 12px;
  color: var(--color-text, #2C2D2E);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.Teamsection .team-main-wrapper .team-wrapper .team-card .team-card-profession {
  margin-top: 8px;
  margin-bottom: 16px;
  width: 203px;
  color: var(--color-text-secondary, #919399);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
}
.Teamsection .team-main-wrapper .team-wrapper .team-card .team-card-info {
  line-height: 10px;
  width: 203px;
  color: var(--color-text, #2C2D2E);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
}
.Teamsection .team-main-wrapper .team-our-team {
  margin-top: 50px;
  text-align: center !important;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #EF7C00;
  color: var(--color-primary, #EF7C00);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.Teamsection .team-main-wrapper .team-our-team:hover {
  background-color: #EF7C00;
  color: #fff;
}

.news-section {
  margin-top: 80px;
}
.news-section .news-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-section .news-wrapper .news-title {
  margin-bottom: 32px;
  color: #2C2D2E;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}
.news-section .news-wrapper .news-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.news-section .news-wrapper .news-cards .news-card {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .news-section .news-wrapper .news-cards .news-card img {
    width: 100%;
  }
}
.news-section .news-wrapper .news-cards .news-card span {
  margin-top: 24px;
  color: var(--color-text-secondary, #919399);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
}
.news-section .news-wrapper .news-cards .news-card p {
  color: var(--text-color-text, #2C2D2E);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.news-section .news-wrapper .news-section-link {
  margin-top: 48px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #EF7C00;
  color: var(--color-primary, #EF7C00);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.news-section .news-wrapper .news-section-link:hover {
  background-color: #EF7C00;
  color: #fff;
}

.footer {
  margin-top: 84px;
  padding-top: 30px;
  background-color: rgba(0, 16, 61, 0.06);
}
.footer .footer-wrapper {
  display: flex;
  flex-direction: column;
}
.footer .footer-wrapper .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 16, 61, 0.06);
}
.footer .footer-wrapper .footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer-wrapper .footer-bottom .fb-div1 h3,
.footer .footer-wrapper .footer-bottom .fb-div2 h3,
.footer .footer-wrapper .footer-bottom .fb-div3 h3 {
  margin-top: 16px;
  color: var(--color-text, #2C2D2E);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.footer .footer-wrapper .footer-bottom .fb-div1 p,
.footer .footer-wrapper .footer-bottom .fb-div2 p,
.footer .footer-wrapper .footer-bottom .fb-div3 p {
  margin-top: 24px;
}
.footer .footer-wrapper .footer-bottom .fb-div4 {
  display: flex;
  flex-direction: column;
}
.footer .footer-wrapper .footer-bottom .fb-div4 h4 {
  margin-top: 16px;
  color: var(--color-primary, #EF7C00);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.footer .footer-wrapper .footer-bottom .fb-div4 span {
  margin-top: 12px;
  margin-bottom: 8px;
}
.footer .footer-wrapper .footer-bottom .fb-div5 {
  display: flex;
  flex-direction: column;
}
.footer .footer-wrapper .footer-bottom .fb-div5 h4,
.footer .footer-wrapper .footer-bottom .fb-div5 h5 {
  margin-top: 16px;
  color: var(--color-primary, #EF7C00);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.footer .footer-wrapper .footer-bottom .fb-div5 h5 {
  margin-top: 36px;
}
.footer .footer-wrapper .footer-bottom .fb-div5 span {
  margin-top: 12px;
  color: var(--color-text, #2C2D2E);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.react-tabs__tab-list {
  display: flex !important;
  align-items: center !important;
  gap: 24px !important;
  margin-bottom: 80px !important;
  border: none !important;
  margin-left: 200px !important;
}

.react-tabs__tab {
  display: flex !important;
  height: 38px !important;
  padding: 10px 20px !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 61px !important;
  border: 1px solid var(--color-border, rgba(0, 16, 61, 0.12)) !important;
}

.react-tabs__tab--selected {
  display: flex !important;
  height: 38px !important;
  padding: 10px 20px !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 61px !important;
  background: #EF7C00 !important;
  color: #fff !important;
  border: none !important;
}

.pr-tabs-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.body-is-dark {
  background-color: #000 !important;
}
.body-is-dark p, .body-is-dark a, .body-is-dark h1, .body-is-dark h2, .body-is-dark h3, .body-is-dark h4, .body-is-dark h5, .body-is-dark h6, .body-is-dark span {
  color: #FFF !important;
}
.body-is-dark .hero-section h1, .body-is-dark p {
  color: #000 !important;
}